
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Coverage and Allure Reports
.nyc_output/
coverage/
allure-results/
allure-report/
